<% if current_user == chat.profile.user %>
  <div class="chat chat-end">
<% else %>
  <div class="chat chat-start">
<% end %>
    <div class="chat-image avatar">
      <div class="w-10 rounded-full">
        <% if chat.profile.avatar.attached? %>
          <%= image_tag url_for(chat.profile.avatar) %>
        <% else %>
          <%= image_tag "default.jpg" %>
        <% end %>
      </div>
    </div>
    <div class="chat-bubble message"><p><%= chat.body %></p></div>
  </div>