<h1>Chat room</h1>
<div class="flex flex-col justify-center items-center">
  <div id="messages" class='w-1/2'>
    <%= render partial: 'chatrooms/chat', collection: @chats, as: :chat %>
  </div>
  <form>
    <input type="hidden" id="post" value="<%= @post.id %>">
    <input id='post_input' name="mytext" class='text-black' type="text" />
    <input id='submit_button' type="submit" data-behavior="room_speaker" value="送信" />
  </form>
</div>

<script>
    window.postData = {
      id: <%= @post.id %>,
    }
</script>