<div class="bg-blue-900 bg-cover min-h-screen object-cover w-full text-white">
  <div class="bg-cover md:w-full md:h-screen text-white" style="background-image: url('<%= asset_path('top.jpg') %>')">
    <div class="h-4/6 flex items-end">
      <div>
        <p class="md:text-7xl font-bold">何度でも、ファンになろう。</p>
      </div>
    </div>
    <div class="h-1/6 flex flex-col items-end">
    <%= link_to videos_path do %>
      <button class="btn bg-blue-900 hover:bg-blue-800 text-white md:text-4xl mx-2 mb-2">→(登録不要)サッカー選手の動画を視聴</button>
    <% end %>
    <button class="btn bg-blue-900 hover:bg-blue-800 text-white md:text-4xl mx-2 mb-2">→(要登録)AIで選手・チームを調べに行く</button>
      <button class="btn bg-blue-900 hover:bg-blue-800 text-gray-400 md:text-4xl mx-2 mb-2">→(coming soon)Let`s move!</button>
    </div>
  </div>
</div>

<% #todo スクリーンの高さスクロールしないようにする %>