<div tabindex="0" role="button" class="btn btn-circle btn-xs sm:btn-sm md:btn-md m-0.5 sm:m-1 aspect-square flex items-center justify-center overflow-hidden text-[8px] sm:text-xs md:text-sm">
  <%= position[:title].html_safe %>
</div>
<div tabindex="0" class="dropdown-content z-10 card card-compact w-48 sm:w-56 md:w-64 shadow bg-base-100 text-black">
  <div class="card-body">
    <p class="text-xs sm:text-sm"><%= position[:content].html_safe %></p>
  </div>
</div>