<div class="bg-blue-900 w-full h-screen text-white overflow-hidden flex items-center justify-center">
  <div>
    <div class="container p-5 font-bold text-2xl border-dotted border-t-2 border-fitting-white pt-2'">
      <h5 class="text-center">お問い合わせありがとうございました。</h5>
    </div>
    <div class='actions flex justify-center pb-2 border-dotted border-b-2 border-fitting-white'>
        <%= link_to 'TOP画面へ戻る', root_path, class: 'btn btn-sm mt-2' %>
    </div>
  </div>
</div>