<p>いつもご利用ありがとうございます、 <%= @resource.email %>様</p>

<% #Someone has requested a link to change your password. You can do this through the link below.%>
<p>ご希望いただきましたパスワードの再設定は下記のリンクから再設定可能です</p>

<p><%= link_to 'パスワードの再設定をする', edit_password_url(@resource, reset_password_token: @token) %></p>

<% #If you didn't request this, please ignore this email. %>
<% #Your password won't change until you access the link above and create a new one. %>
<p>もしパスワードの再設定をご希望でない場合は、恐れ入りますがこのメールは無視してくださいませ。</p>
<p>上記のリンクで再設定頂かない場合は、パスワードは変更されません。</p>
